@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


:root{
    --font-title:'Silkscreen',cursive;

}
body{
    width:100%;
    height: 100%;
    position:absolute;
    margin:0;
    padding:0;
    overscroll-behavior: none;
}

#start-page,#game-over-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #141622CC;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 300ms ease;
    transition: background-color 1000ms ease;
    font-family: var(--font-title);
    color:white;
    z-index:1000;


}
#start-column, #game-over-column{
    text-align:center;

}

#intro-title, #over-title{
    font-size:5em;
    margin-bottom:3em;
    font-weight:500;
    text-shadow:2px 2px 2px black;
    font-family: var(--font-title)
}

#start-button, #restart-button{
    
    background: none;
  border-radius: 20px;
  border: 0;
  font-family:var(--font-title);
  font-size: 3rem;
  color:white;
  text-shadow: 0 0 40px white;
  cursor:hover;
}




#distance{
    left:0;
    font-family: var(--font-title);
    font-weight:500;
    position:fixed;
    color:white;
    margin:15px;
    
    
}
#game-over-page {

    display:none;
    
}
#total-distance-row{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    margin-bottom: 16rem;
}
